<!-- footer -->
<link rel="stylesheet" href="/css/footer.css">
<a class="backTop" href="#"></a>
<footer class="text-muted">
    <div class="container py-3">
        <p class="float-right">
            <a href="/">回首頁</a>
        </p>
        <p>想轉學嗎??要不先看看過來人的<a href="/experience">心得分享</a></p>
        <p>覺得簡章各校簡章很難找??<br>都幫你整理好了!<a href="/school">轉學考資訊</a></p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- // footer -->