<!-- header -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" style="height:40px" alt="logo">轉考大神</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/school">各校資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/experience">心得分享</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/solution">解題區</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/application_packet">書審參考區</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/admin">管理者登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/adminlogout">管理者登出</a>
            </li>
        </ul>
    </div>
    </nav>
</header>
<!-- // header -->